<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FTPClient.Properties.Settings.PACSystemConnectionString" connectionString="Data Source=DESKTOP-FC918LO;Initial Catalog=PACSystem;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="PACSystemEntities" connectionString="metadata=res://*/PACSystem.csdl|res://*/PACSystem.ssdl|res://*/PACSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FC918LO;initial catalog=PACSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="PACSystemEntities1" connectionString="metadata=res://*/PACSystem.csdl|res://*/PACSystem.ssdl|res://*/PACSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FC918LO;initial catalog=PACSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>